.site-footer {
  border-top: 2px solid var(--c-maroon);
  padding-bottom: var(--unit-two-thirds);

  .row--inner {
    margin-bottom: 0;
  }

  &__logo {
    width: calc(var(--unit) * 5);
    height: calc(var(--unit) * 5);

    @include media('<xxs') {
      width: calc(var(--unit) * 4);
      height: calc(var(--unit) * 4);
    }
  }

  &__newsletter {
    display: inline-block;
    margin-bottom: calc(var(--unit) * 1.5);

    a {
      color: var(--c-maroon);
      display: flex;
      align-items: center;
      margin: 0;
      font-size: clamp(32px, 4vw, 52px);
      font-weight: var(--f-weight-medium);
      line-height: 1.2;

      &::after {
        content: '';
        display: block;
        margin-left: 1em;
        background-image: url("data:image/svg+xml,%3Csvg width='44' height='30' viewBox='0 0 44 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.9812 0L25.9499 2.98165L35.8706 12.8899L0 12.8899L0 17.1101H35.8706L25.9499 27.0183L28.9812 30L44 15L28.9812 0Z' fill='%237E2239'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        width: 44px;
        height: 30px;
        background-size: 100%;
        flex-shrink: 0;
        transition: var(--transition-all);

        @include media('<xs') {
          margin-left: var(--unit-half);
        }
      }

      &:hover,
      &:focus {
        text-decoration: none;

        &::after {
          transform: translateX(var(--unit-third));
        }
      }
    }
  }

  &__external-link {
    margin-left: auto;
    display: inline-block;
    transition: var(--transition-all);

    &.has-link:hover {
      opacity: 0.7;
    }

    @include media('<lg') {
      margin-left: 0;
      margin-top: var(--unit);
    }

    @include media('<sm') {
      max-width: calc(var(--unit) * 5);
    }

    @include media('<xxs') {
      max-width: calc(var(--unit) * 4);
    }
  }

  &__main {
    display: flex;
    align-items: center;

    @include media('<lg') {
      display: block;
    }
  }

  &__break {
    display: flex;
    align-items: center;

    @include media('<sm') {
      align-items: flex-start;
    }
  }

  &__menu,
  .sub-footer__menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
    }

    li,
    a {
      font-weight: 500;
      color: black;
    }
  }

  &__menu {
    margin-left: calc(var(--unit) * 2);

    li {
      + li {
        margin-left: calc(var(--unit) * 1.5);
      }

      a {
        font-size: 20px;
      }
    }

    @include media('<md') {
      margin-left: calc(var(--unit) * 1.5);

      li + li {
        margin-left: var(--unit);
      }
    }

    @include media('<sm') {
      margin-left: auto;

      li {
        display: block;
        text-align: right;

        + li {
          margin-left: 0;
          margin-top: 0.9rem;
        }
      }
    }
  }

  .sub-footer {
    padding-top: calc(2 * var(--unit));
    display: flex;
    justify-content: space-between;

    @include media('<md') {
      padding-top: var(--unit);
      flex-direction: column-reverse;
      align-items: center;
    }

    &__menu {
      @include media('<md') {
        text-align: center;
        margin-top: 1rem;
      }

      li {
        font-size: 14px;

        + li {
          margin-left: var(--unit);
        }

        a {
          font-size: 14px;
        }

        @include media('<md') {
          margin: 0.4rem 0.5rem !important;

          &:first-child {
            display: block;
          }

          + li {
            margin-left: 0;
          }
        }
      }
    }

    &__social {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        + li {
          margin-left: 0.7rem;
        }

        a {
          font-size: 1.4em;
          color: black;

          &:hover {
            color: var(--c-primary);
          }
        }
      }
    }
  }
}
