.logo {
  background-color: var(--c-maroon);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 75.84375%;
    height: auto;
  }

  &:hover {
    opacity: 0.9;
  }
}
