.search-results {
  main {
    padding-top: calc(var(--unit) * 2);
    padding-bottom: calc(var(--unit) * 4);

    @include media('<xs') {
      padding-top: calc(var(--unit) * 1.5);
      padding-bottom: calc(var(--unit) * 3);
    }

    > section {
      margin: 0;
    }
  }

  &__no-results {
    text-align: center;

    p {
      margin-bottom: var(--unit);
    }
  }

  &__title {
    text-align: center;
    margin-bottom: calc(var(--unit) * 2);

    > small {
      display: block;
      font-size: 0.5em;
      font-weight: 500;
    }
  }
}
