/*
  Most utility classes will have !important to guarantee that they work when a element has more specific classes overriding
*/

.u-reverse {
  color: var(--c-white);
  * {
    color: inherit;
  }
  a:hover,
  a:focus {
    color: inherit;
  } // a:hover
} // .u-reverse

.u-screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
} // .u-screen-reader

.u-text-align-center {
  text-align: center !important;
} // .u-text-align-center

.u-color-initial {
  color: initial !important;
} // .u-color-initial

.u-no-margin {
  margin: 0 !important;
} // .u-no-margin

.u-no-margin-top {
  margin-top: 0 !important;
} // .u-no-margin-top

.u-no-margin-bottom {
  margin-bottom: 0 !important;
} // .u-no-margin-bottom

.u-float-left {
  float: left;
} // .u-float-left

.u-float-right {
  float: right;
} // .u-float-right

.stack {
  > * {
    margin: 0;

    + * {
      margin-top: 2rem;
    }
  }
}

.u-no-mb {
  margin-bottom: 0;
}

.u-no-mt {
  margin-top: 0;
}
