.wp-block {
  width: 100%;
  max-width: none;
  margin: calc(var(--unit) * 2) 0;
  transition: var(--transition-all);

  &:hover {
    box-shadow: 0 0 5px var(--c-grey);
  }
}

.acf-block-preview {
  @include flex-column;
  width: 100%;
  overflow: hidden;
}

.editor-styles-wrapper {
  color: var(--c-text);
  font-family: var(--f-base);
  font-weight: var(--f-weight-regular, 400);
  line-height: 1.625em;
  margin: 0 var(--unit);
}

.block-list-appender .components-button {
  margin: 2rem auto;
}

.edit-post-visual-editor__post-title-wrapper {
  border-bottom: 1px solid var(--c-grey);
}

// Thanks for making me do this
.editor-styles-wrapper {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-top: 0;
    color: var(--c-maroon);
    font-weight: var(--f-weight-bold, 700);
    margin-bottom: inherit;
  }

  h1,
  .h1 {
    font-size: clamp(2rem, 4vw, 52px);
    line-height: 1em;
  } // h1, .heading1

  h2,
  .h2 {
    font-size: clamp(28px, 4vw, 42px);
    line-height: 1em;
  } // h2, .heading2

  h3,
  .h3 {
    font-size: clamp(24px, 4vw, 36px);
    line-height: 1.28em;
  } // h3, .heading3

  h4,
  .h4 {
    font-size: clamp(20px, 4vw, 24px);
    line-height: 0.9em;
  } // h4, .heading4

  h5,
  h6,
  .h5,
  .h6 {
    font-size: clamp(1rem, 4vw, 20px);
    line-height: 1.1em;
    margin-bottom: var(--unit-half);
  } // h5, .heading5

  h6,
  .h6 {
    font-size: clamp(1rem, 4vw, 17px);
    line-height: 1.1em;
  }

  .carousel--stats h3 {
    font-size: clamp(24px, 4vw, 36px);
    line-height: 1.28em;
  }
}

// Hide unwanted media options
#menu-item-gallery,
#menu-item-featured-image,
#menu-item-video-playlist,
#menu-item-playlist {
  display: none;
}

.card {
  margin-top: 0;
  padding: 0;
  min-width: none;
  max-width: none;
  border: 0;
  box-shadow: none;
  background: inherit;
}

.editor-styles-wrapper {
  .info-card h3 {
    color: inherit;
  }
  .btn:hover {
    color: var(--c-white);
  }
}

body#tinymce {
  padding: var(--unit-two-thirds);
}
